{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css_additional %}
    <link type="text/css" href="{% static 'mq/css/style.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mq/css/pass-reset-done.css' %}" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    {% endblock %}
    <title>Change Password</title>
</head>

<body>
    <section class="form-section-reset-complete">
        <div class="section-for-message">
            <img src="{% static 'mq/images/zapis_ok.png' %}" class="photo-ok">
            <h1 class="booking-title">Пароль изменен!</h1>
            <p class="info-shablon">Вы успешно изменили пароль своего аккаунта. Используйте его для
                <a href="{% url 'login' %}" class="go-home-btn">входа в систему</a>.
            </p>
            <a class="btn-domoi" href="/">Главная страница</a>
        </div>
    </section>
</body>

</html>