{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChangePassword</title>
    {% block css_additional %}
    <link type="text/css" href="{% static 'mq/css/style.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mq/css/login.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mq/css/passwordReset.css' %}" rel="stylesheet" />
    {% endblock %}
</head>

<body>
    <div class='registartion-backk'>
        <div class="login-box">
            <form method="post">
                {% csrf_token %}
                {% for f in form %}
                <h1 class="Registration-textt">Восстановление пароля</h1>
                <div class="container-reset">
                    <p class="vvedite-email">Введите почту:</p>
                        {{ f }}

                    <div class="form-error">{{ f.errors }}</div>
                    {% endfor %}

                    <button type="submit" class="btn-ok">Сбросить по E-mail</button>
                </div>
            </form>
            <a class="header-back-icon" href="\">
                <img class="header-logo-imageee" src="{% static 'mq/images/back.png' %}" alt="">
            </a>
        </div>
    </div>
</body>

</html>