{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css_additional %}
    <link type="text/css" href="{% static 'mq/css/style.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mq/css/login.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mq/css/passwordReset.css' %}" rel="stylesheet" />
    {% endblock %}
    <title>Change Password</title>
</head>

<body>
        <div class='registartion-backk'>
            <div class="login-box2">
                <h1 class="Registration-textt">Восстановление пароля</h1>
                <form method="post">
                    <div class="container-reset">
                        {% csrf_token %}
                        {% for f in form %}
                        {% if f.name == 'new_password1' %}
                        <p class="p-classs">
                            Введите новый пароль:</p>
                        {{ f }}
                        {% endif %}
                        {% if f.name == 'new_password2' %}
                        <p class="p-classss">
                            Подтвердите пароль:</p>
                        {{ f }}
                        <div class="form-error">{{ f.errors }}</div>
                        {% endif %}
                        {% endfor %}

                        <button type="submit" class="btn-ok">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
</body>

</html>