{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css_additional %}
    <link type="text/css" href="{% static 'mq/css/style.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mq/css/pass-reset-done.css' %}" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    {% endblock %}
    <title>Password_reset_done</title>
</head>

<body>
    <section class="form-section-reset">
        <div class="section-for-message">
            <img src="{% static 'mq/images/zapis_ok.png' %}" class="photo-ok">
            <h1 class="booking-title">Сброс пароля</h1>
            <div class="info">
                    <p class="info-shablon"> Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время.</p>
                    <p class="info-shablon-er">Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом.</p>
            </div>
            <a class="btn-domoi" href="/">Главная страница</a>
        </div>
    </section>
</body>

</html>